<h2>Login</h2>

<form method="post" action="/login">
  <div>
    <label for="login">Login:</label>
    <br/>
    <input type="text" id="login" name="login" />
  </div>
  <div>
    <label for="password">Password:</label>
    <br/>
    <input type="password" id="password" name="password" />
  </div>
  <div>
    <input type="submit" value="login" />
  </div>
</form>
