* { margin:0; padding:0; }
body { font: 16px Georgia Serif; }

#page-wrap { margin: 2% auto; color: white; }
#page-wrap > .main { border: 1px solid #999; padding: 1%;
              margin-bottom: 1px; color: black; }

section > div , main > div{ padding: 20px; }
header, footer, nav, main, section { background: #eee; text-align: center; }
nav li { margin: 0px 10px 0px 0px; display: inline;}
#quizes-list { margin: 0 auto 0 auto; }

.button { border: 1px solid #777; padding: 3px; background: #fafafa;
  text-decoration: none; color: black; font: 16px Georgia Serif;}
#errorMsgs { color: #f61; font-size: smaller; }

.right { float: right; }
.inline { display: inline; }
