<form method="get" action="/quizes">
  <input type="text" name="search" id="search" placeholder="Busque una pregunta" />
  <input type="submit" value="buscar" />
</form>
<br/>
<ul id="quizes-list">
<% for (var i = 0; i < quizes.length; i++) { %>
  <li>
    <a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a>
     -
    <a href="quizes/<%= quizes[i].id %>/edit">editar</a>
  </li>
<% } %>
<br/>
<a href="/quizes/new" class="button">Crear pregunta</a>
</ul>
